@import "../../styles/colors";
@import "../../styles/typography";

.addToCart {
  border: 1px solid $rose-400;
  max-width: 160px;
  width: 160px;
  border-radius: 999px;
  background-color: $white;
  padding: 12px;
  @include text-preset-4-bold;

  display: flex;
  justify-content: center;
  gap: 8px;

  &:hover {
    cursor: pointer;
    border-color: $red;
    color: $red;
  }
}

.addToCartActive {
  width: 160px;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  border: none;
  border-radius: 999px;
  background-color: $red;
  padding: 12px;
  @include text-preset-4-bold;
  color: $white;

  display: flex;
  justify-content: space-between;

  &  button {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    border-radius: 50%;
    align-self: center;

  & svg:hover circle {
    fill: $white;
  }

  & svg:hover path {
    fill: $red;
  }
  }

}

