@import "../../styles/_colors.scss";
@import "../../styles/_typography.scss";
@import "../../styles/utils.scss";


.productList {
  display: flex;
  flex-direction: column;
  background-color: $rose-50;
  gap: 24px;
  align-items: center;

  & > h1 {
    @include text-preset-1;
    margin-bottom: 8px;
  }
}

@media  (min-width: $mobileWidth) {
  .productList > div {
    flex-direction: row !important;
    flex-wrap: wrap !important; 
    justify-content: center; 
    row-gap: 32px !important;
  }
}
