@import "../../styles/colors";
@import "../../styles/utils";
@import "../../styles/typography";


.overlay {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: rgba(0,0,0,50%);

    & .modal {
      position: fixed;
      background-color: $white;
      border-radius: 12px 12px 0 0;
      bottom: 0;
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 40px 24px 24px 24px;


      & img {
        width: 48px;
        height: 48px;
      }

      & .modalTitle {
        @include text-preset-1;
      }
      
      & p {
        @include text-preset-3;
        font-weight: 400;
        color: $rose-500;
      }

      & .startOrderButton {
        border: none;
        cursor: pointer;
        background-color: $red;
        @include text-preset-3;
        color: $white;
        border-radius: 999px;
        padding: 16px 24px;
      }
      & .modalCart {
        padding: 24px;
        border-radius: 8px;
        background-color: $rose-50;
        width: 100%;
        
      }

      & .orderTotal {
        justify-content: space-between;
        align-items: center;

        & > h2 {
          @include text-preset-4($rose-900, 400);
        }

        & > h1 {
          @include text-preset-2($rose-900);
        }
      }
    }


}

@media (min-width: $mobileWidth) {
  .overlay {
    padding: 0 40px 0 40px;
    display: flex;
    align-items: center;
    justify-content: center;

    & .modal {
      position: relative;
    }

    & .modalCart {
      width: 100%;
    }
  }
}

@media (min-width: $tabletWidth) {
  .overlay {
    & .modal {
      width: 592px;
    }
  };
}
